body {
    font-family: monospace;
    place-items: center;
    margin: 0 auto;
}

.wrapper {
    text-align: center;
}

.dateTime {
    padding: 10px;
    /* width: fit-content; */
    display: inline-block;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

ul {
    list-style-type: none;
    /* justify-content: center; */
    padding: 20px;
    margin: auto;
    width: 60%;
    text-align: left;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: white; */
}

.list > * {
    display: flex;
    /* background-color: black; */
    flex-wrap: wrap;
}

li {
    padding: 20px;
    margin: 5px;
}

.author_wrapper {
    width: 40%;
    margin: auto;
}

.author {
    font-size: 1.2rem;
    padding: 2%;
}

.socials {
    padding: 2%;
}

.bio {
    padding: 2%;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3%;
}

.skills > div {
    text-align: left;
}

.keywords {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding-bottom: 10%;
}

.keywords > p {
    padding: 2%;
    border-radius: 20px;
    margin: 0;
}

.keywords > .keyword_header {
    width: 100%;
    text-align: left;
}

a {
    color: black;
}

footer {
    height: auto;
    text-align: center;
    width: 100%;
    padding: 2%;
    background-color: antiquewhite;
    position:relative;
    bottom: 0;
}
